* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: cornflowerblue;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.dragon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50vw;
  height: 70vh;
}

.dragon span {
  position: absolute;
  z-index: 1;
}

.dragon span:nth-child(1) {
  width: 15vw;
  height: 30vh;
  background-color: rgb(13, 172, 13);
  border-radius: 50%;
}

.dragon span:nth-child(2) {
  z-index: 2;
  width: 6vw;
  height: 12vh;
  background-color: cornflowerblue;
  border-radius: 50%;
}

.dragon span:nth-child(3) {
  z-index: 2;
  width: 6vw;
  height: 20vh;
  rotate: z 45deg;
  top: 17vh;
  left: 26vw;
  background-color: cornflowerblue;
}

.dragon span:nth-child(4) {
  width: 15vw;
  height: 30vh;
  left: 13vw;
  top: 7vh;
  background-color: rgb(13, 172, 13);
  border-radius: 50%;
}

.dragon span:nth-child(5) {
  z-index: 2;
  width: 5vw;
  height: 25vh;
  rotate: z 10deg;
  top: 9vh;
  left: 23.2vw;
  background-color: cornflowerblue;
}

.dragon span:nth-child(6) {
  z-index: 2;
  width: 8vw;
  height: 20vh;
  rotate: z 10deg;
  top: 18vh;
  left: 10vw;
  background-color: cornflowerblue;
}

.dragon span:nth-child(7) {
  z-index: 2;
  width: 15vw;
  height: 30vh;
  left: 30vw;
  top: 24.5vh;
  background-color: rgb(13, 172, 13);
  border-radius: 50%;
}

.dragon span:nth-child(8) {
  z-index: 2;
  width: 4.8vw;
  height: 20vh;
  rotate: z 45deg;
  top: 34vh;
  left: 32.3vw;
  background-color: cornflowerblue;
}

.dragon span:nth-child(9) {
  z-index: 2;
  width: 8vw;
  height: 20vh;
  rotate: z 10deg;
  top: 18vh;
  left: 10vw;
  background-color: cornflowerblue;
}

.dragon span:nth-child(10) {
  z-index: 2;
  width: 5vw;
  height: 10vh;
  left: 35vw;
  top: 33vh;
  background-color: cornflowerblue;
  border-radius: 50%;
}

.dragon span:nth-child(11) {
  z-index: 0;
  width: 0.5vw;
  height: 15vh;
  rotate: z 40deg;
  top: -2vh;
  left: 20vw;
  background-color: yellow;
}

.dragon span:nth-child(12) {
  z-index: 0;
  width: 0.5vw;
  height: 15vh;
  rotate: z 40deg;
  top: 1vh;
  left: 23vw;
  background-color: yellow;
}

.dragon span:nth-child(13) {
  z-index: 2;
  width: 1vw;
  height: 4vh;
  top: 10vh;
  left: 18vw;
  border-radius: 50%;
  background-color: black;
}

.dragon span:nth-child(14) {
  z-index: 2;
  width: 3vw;
  height: 2vh;
  top: 15vh;
  left: 13vw;
  rotate: z -10deg;
  background-color: cornflowerblue;
}

.dragon span:nth-child(15) {
  z-index: 2;
  width: 0.5vw;
  height: 2vh;
  top: 12vh;
  left: 15vw;
  border-radius: 50%;
  background-color: rgb(10, 104, 10);
}

.dragon span:nth-child(16) {
  z-index: 2;
  width: 20vw;
  height: 8vh;
  top: 23vh;
  left: 20vw;
  rotate: z -35deg;
  clip-path: polygon(00% 100%, 0% 2%, 100% 100%);
  background-color: green;
}

.dragon span:nth-child(17) {
  z-index: 2;
  width: 2vw;
  border-radius: 25%;
  height: 10vh;
  top: 15vh;
  rotate: z 10deg;
  left: 22.2vw;
  background-color: rgb(255, 0, 0);
}

.dragon span:nth-child(18) {
  z-index: 1;
  width: 2vw;
  border-radius: 25%;
  height: 10vh;
  top: 22vh;
  rotate: z 120deg;
  left: 40vw;
  background-color: rgb(255, 0, 0);
}

.dragon span:nth-child(19) {
  z-index: 1;
  width: 2vw;
  height: 12vh;
  border-radius: 50%;
  top: 37vh;
  left: 19vw;
  rotate: z -40deg;
  background-color: rgb(217, 255, 0);
}