* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  white-space: nowrap;
  height: 100vh;
  background-color: rgb(53, 53, 53);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: white;
  font-size: 5vb;
  font-weight: 600;
}

.box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 21vw;
  height: 21vh;
}

.box span {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box span:nth-child(1) {
  z-index: 3;
  border: 5px solid white;
  width: 20vw;
  height: 20vh;
}

.box span:nth-child(2) {
  z-index: 2;
  width: 20vw;
  height: 20vh;
  background-color: rgb(84, 253, 84);
  opacity: 0.95;
  translate: 0px -20vh;
  transition: 1s;
}

.box span:nth-child(3) {
  z-index: 3;
  width: 20vw;
  height: 20vh;
  color: rgb(27, 136, 27);
  translate: 0px -20vh;
  transition: 1s;
}

.box:hover span:nth-child(2) {
  translate: 0px 0vh;
}

.box:hover span:nth-child(3) {
  translate: 0px 0vh;
}
