body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: cornflowerblue;
}

.sun {
  width: 400px;
  height: 400px;
  border: 2px solid f3bc24;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    #f0df4a 0%,
    #f0df4a 35%,
    #fac535 65%,
    #f3bc24 100%
  );
  box-shadow: 0 0 50px rgb(253, 217, 12);
  animation: glow 3s infinite linear;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 50px rgb(253, 217, 12);
  }
  50% {
    box-shadow: 0 0 50px rgb(242, 243, 157);
  }
  100% {
    box-shadow: 0 0 50px rgb(253, 217, 12);
  }
}
