* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: beige;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.mandala {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  position: relative;
}

.mandala span {
  position: absolute;
}

.mandala span:nth-child(1) {
  width: 40vw;
  height: 80vh;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(15, 15, 83);
}

.mandala span:nth-child(2) {
  width: 35vw;
  height: 70vh;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(255, 251, 0);
}

.mandala span:nth-child(3) {
  width: 11vw;
  height: 22vh;
  bottom: 62vh;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(to top, rgb(231, 56, 56), rgb(236, 23, 23), red);
}

.mandala span:nth-child(4) {
  width: 11vw;
  height: 22vh;
  bottom: 15vh;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgb(231, 56, 56),
    rgb(236, 23, 23),
    red
  );
}

.mandala span:nth-child(5) {
  width: 11vw;
  height: 22vh;
  bottom: 50.5vh;
  left: 29.5vw;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(
    to top right,
    rgb(231, 56, 56),
    rgb(236, 23, 23),
    red
  );
}

.mandala span:nth-child(6) {
  width: 11vw;
  height: 22vh;
  bottom: 27.5vh;
  left: 29.5vw;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(
    to bottom right,
    rgb(231, 56, 56),
    rgb(236, 23, 23),
    red
  );
}

.mandala span:nth-child(7) {
  width: 11vw;
  height: 22vh;
  bottom: 50vh;
  left: 9.5vw;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(
    to top left,
    rgb(231, 56, 56),
    rgb(236, 23, 23),
    red
  );
}

.mandala span:nth-child(8) {
  width: 11vw;
  height: 22vh;
  bottom: 27.5vh;
  left: 9.5vw;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(
    to bottom left,
    rgb(231, 56, 56),
    rgb(236, 23, 23),
    red
  );
}

.mandala span:nth-child(9) {
  width: 8vw;
  height: 16vh;
  bottom: 56vh;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(
    to top,
    rgb(85, 247, 85),
    rgb(44, 236, 44),
    rgb(0, 255, 0)
  );
}

.mandala span:nth-child(10) {
  width: 8vw;
  height: 16vh;
  bottom: 26vh;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgb(85, 247, 85),
    rgb(44, 236, 44),
    rgb(0, 255, 0)
  );
}

.mandala span:nth-child(11) {
  width: 8vw;
  height: 16vh;
  bottom: 49vh;
  left: 28.5vw;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(
    to top right,
    rgb(85, 247, 85),
    rgb(44, 236, 44),
    rgb(0, 255, 0)
  );
}

.mandala span:nth-child(12) {
  width: 8vw;
  height: 16vh;
  bottom: 33vh;
  left: 28.5vw;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(
    to bottom right,
    rgb(85, 247, 85),
    rgb(44, 236, 44),
    rgb(0, 255, 0)
  );
}

.mandala span:nth-child(13) {
  width: 8vw;
  height: 16vh;
  bottom: 49vh;
  left: 13.5vw;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(
    to top left,
    rgb(85, 247, 85),
    rgb(44, 236, 44),
    rgb(0, 255, 0)
  );
}

.mandala span:nth-child(14) {
  width: 8vw;
  height: 16vh;
  bottom: 33vh;
  left: 13.5vw;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(
    to bottom left,
    rgb(85, 247, 85),
    rgb(44, 236, 44),
    rgb(0, 255, 0)
  );
}

.mandala span:nth-child(15) {
  width: 12vw;
  height: 24vh;
  border: 1px solid black;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(235, 116, 181),rgb(223, 81, 164), rgb(248, 6, 46))
}
