* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  font-size: 12vh;
}

.text {
  margin-right: 5vw;
  display: flex;
  flex-wrap: nowrap;
}

.text span {
  display: flex;
  color: white;
}

.text span:nth-child(1) {
  animation: slide 3.5s ease-in-out infinite;
}
.text span:nth-child(2) {
  animation: slide 3.5s ease-in-out 0.1s infinite;
}
.text span:nth-child(3) {
  animation: slide 3.5s ease-in-out 0.2s infinite;
}
.text span:nth-child(4) {
  animation: slide 3.5s ease-in-out 0.3s infinite;
}
.text span:nth-child(5) {
  animation: slide 3.5s ease-in-out 0.4s infinite;
}
.text span:nth-child(6) {
  animation: slide 3.5s ease-in-out 0.5s infinite;
}
.text span:nth-child(7) {
  animation: slide 3.5s ease-in-out 0.6s infinite;
}
@keyframes slide {
  0% {
    color: rgb(255, 255, 255);
    translate: -4vw 0px;
  }
  25% {
    color: rgb(224, 14, 14);
  }
  50% {
    color: rgb(197, 86, 164);
    translate: 8vw 0px;
  }
  75% {
    color: rgb(192, 133, 197);
  }
  100% {
    color: rgb(255, 255, 255);
    translate: -2vw 0px;
  }
}
