body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgb(122, 164, 243);
}

.balloon span {
  position: absolute;
  animation: fly 2s infinite linear;
}

@keyframes fly {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

.balloon span:nth-child(2) {
  width: 200px;
  height: 250px;
  border-radius: 65%;
  left: 890px;
  top: 250px;
  background: linear-gradient(
    to right,
    rgb(255, 33, 33) 0%,
    rgb(245, 29, 29) 50%,
    rgb(204, 23, 23) 100%
  );
}

.balloon span:nth-child(1) {
  border: 1px solid white;
  height: 260px;
  left: 990px;
}
