body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #ffffe4;
}

.heart {
  position: relative;
  top: -50px;
}

.heart span {
  position: absolute;
  background-color: red;
}

.heart span:nth-child(2) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -31px;
  left: -31px;
}

.heart span:nth-child(3) {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
}

.heart span:nth-child(4) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -31px;
  left: 31px;
}