* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  font-size: 3vw;
  color: rgb(28, 28, 75);
}

.main {
  width: 60vw;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.main span {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 14vh;
  border: 2px solid rgb(28, 28, 75);
  border-radius: 50%;
  transition-duration: 0.5s;
}

.main span:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 7vw;
  height: 14vh;
  background-color: rgb(28, 28, 75);
  opacity: 0;
  border-radius: 50%;
  transition-duration: 0.5s;
}

.main span:after {
  position: absolute;
  content: "";
  border: 2px dashed rgb(28, 28, 75);
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
  transition-duration: 0.5s;
}

.main span:hover {
  color: white;
}

.main span:hover:before {
  opacity: 1;
  width: 5vw;
  height: 10vh;
  color: white;
}

.main span:hover::after {
  opacity: 1;
  width: 85%;
  height: 85%;
  animation: 5s rotate linear infinite;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}
