* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: rgb(105, 141, 248);
}

.plane {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50vw;
  height: 80vh;
}

.plane span {
  z-index: 2;
  position: absolute;
}

.plane span:nth-child(1) {
  width: 30vw;
  height: 20vh;
  background-color: #d5e0e6;
  rotate: z -45deg;
}

.plane span:nth-child(2) {
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
  background-color: #d5e0e6;
  top: 9vh;
  left: 30.3vw;
}

.plane span:nth-child(3) {
  width: 17vw;
  height: 10vh;
  top: 63vh;
  left: 2.75vw;
  background-color: #d5e0e6;
  rotate: z 45deg;
}

.plane span:nth-child(4) {
  width: 5vw;
  height: 11vh;
  border-radius: 50%;
  background-color: #d5e0e6;
  top: 49.5vh;
  left: 2.5vw;
}

.plane span:nth-child(5) {
  width: 5vw;
  height: 10vh;
  border-radius: 50%;
  background-color: #d5e0e6;
  top: 75.3vh;
  left: 14.75vw;
}

.plane span:nth-child(6) {
  width: 25vw;
  height: 50vh;
  border-radius: 20%;
  clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
  background-color: #d5e0e6;
  rotate: z 135deg;
  top: 25vh;
  left: 7.3vw;
}

.plane span:nth-child(7) {
  width: 5vw;
  height: 10vh;
  left: 7.5vw;
  top: 65vh;
  rotate: z -45deg;
  background: linear-gradient(to top, rgb(13, 102, 218), rgb(11, 195, 228));
}

.plane span:nth-child(8) {
  width: 5vw;
  height: 10vh;
  left: 5.5vw;
  top: 69vh;
  rotate: z -45deg;
  border-radius: 50%;
  background: linear-gradient(to top, rgb(13, 102, 218), rgb(11, 195, 228));
}

.plane span:nth-child(9) {
  width: 5vw;
  height: 10vh;
  left: 9.05vw;
  top: 61.9vh;
  rotate: z -45deg;
  border-radius: 50%;
  background: linear-gradient(to top, rgb(13, 102, 218), rgb(11, 195, 228));
}

.plane span:nth-child(10) {
  width: 5vw;
  height: 5vh;
  left: 33.3vw;
  top: 15vh;
  rotate: z 45deg;
  background: linear-gradient(to top, rgb(13, 102, 218), rgb(11, 195, 228));
}

.plane span:nth-child(11) {
  width: 2.5vw;
  height: 5vh;
  left: 32.7vw;
  top: 11.3vh;
  border-radius: 50%;
  rotate: z 45deg;
  background: linear-gradient(to top, rgb(13, 102, 218), rgb(11, 195, 228));
}

.plane span:nth-child(12) {
  width: 2.5vw;
  height: 5vh;
  left: 36.5vw;
  top: 19vh;
  border-radius: 50%;
  rotate: z 45deg;
  background: linear-gradient(to top, rgb(13, 102, 218), rgb(11, 195, 228));
}

.plane span:nth-child(13) {
  z-index: 1;
  background-color: rgb(30, 127, 255);
  width: 20vw;
  height: 21vh;
  top: 40vh;
  left: 30vw;
  rotate: z 45deg;
  clip-path: polygon(00% 100%, 0% 2%, 100% 100%);
}

.plane span:nth-child(14) {
  z-index: 1;
  background-color: rgb(30, 127, 255);
  width: 20vw;
  height: 20vh;
  top: 0vh;
  left: 9vw;
  rotate: z 45deg;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.plane span:nth-child(15) {
  z-index: 0;
  width: 3vw;
  height: 6vh;
  left: 20vw;
  top: 8vh;
  rotate: z -45deg;
  background: linear-gradient(to top, rgb(29, 30, 31), rgb(90, 93, 94));
}

.plane span:nth-child(16) {
  z-index: 0;
  width: 3vw;
  height: 6vh;
  left: 21vw;
  top: 6vh;
  rotate: z -45deg;
  border-radius: 50%;
  background: linear-gradient(to top, rgb(29, 30, 31), rgb(90, 93, 94));
}

.plane span:nth-child(17) {
  z-index: 0;
  width: 3vw;
  height: 6vh;
  left: 38vw;
  top: 43vh;
  rotate: z -45deg;
  background: linear-gradient(to top, rgb(29, 30, 31), rgb(90, 93, 94));
}

.plane span:nth-child(18) {
  z-index: 0;
  width: 3vw;
  height: 6vh;
  left: 39vw;
  top: 41vh;
  rotate: z -45deg;
  border-radius: 50%;
  background: linear-gradient(to top, rgb(29, 30, 31), rgb(90, 93, 94));
}
