* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: rgb(247, 247, 182);
}

.cat {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50vw;
  height: 70vh;
}

.cat span {
  position: absolute;
  z-index: 1;
}

.cat span:nth-child(1) {
  width: 18vw;
  height: 35vh;
  border-radius: 15%;
  background-color: rgb(48, 47, 47);
}

.cat span:nth-child(2) {
  width: 3vw;
  height: 8vh;
  border-radius: 50%;
  left: 36%;
  top: 35%;
  background-color: black;
  border: 15px solid rgb(142, 252, 175);
}

.cat span:nth-child(3) {
  width: 3vw;
  height: 8vh;
  border-radius: 50%;
  left: 54.5%;
  top: 35%;
  background-color: black;
  border: 15px solid rgb(142, 252, 175);
}

.cat span:nth-child(4) {
  width: 9vw;
  height: 20vh;
  clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
  left: 49%;
  top: 12%;
  background-color: rgb(48, 47, 47);
}

.cat span:nth-child(5) {
  width: 9vw;
  height: 20vh;
  clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
  transform: rotate(180deg);
  left: 33.2%;
  top: 12%;
  background-color: rgb(48, 47, 47);
}

.cat span:nth-child(6) {
  width: 4vw;
  height: 11vh;
  clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
  left: 57.2%;
  top: 18.2%;
  background-color: rgb(83, 83, 83);
}

.cat span:nth-child(7) {
  width: 4vw;
  height: 11vh;
  clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
  transform: rotate(180deg);
  left: 35.2%;
  top: 18.2%;
  background-color: rgb(83, 83, 83);
  z-index: 2;
}

.cat span:nth-child(8) {
  width: 5vw;
  height: 10vh;
  clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
  transform: rotate(-90deg);
  left: 45%;
  top: 52%;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}

.cat span:nth-child(9) {
  border: 5px solid black;
  border-radius: 50%;
  width: 2vw;
  height: 3vh;
  left: 49.5%;
  top: 61.5%;
}

.cat span:nth-child(10) {
  background-color: rgb(48, 47, 47);
  width: 5vw;
  transform: rotate(-20deg);
  height: 2.5vh;
  left: 47.5%;
  top: 60.5%;
}

.cat span:nth-child(11) {
  background-color: rgb(255, 255, 255);
  width: 3vw;
  height: 4vh;
  border-radius: 50%;
  left: 43.8%;
  top: 58%;
}

.cat span:nth-child(12) {
  background-color: rgb(255, 255, 255);
  width: 3vw;
  height: 3vh;
  border-radius: 50%;
  left: 50.2%;
  top: 58%;
}

.cat span:nth-child(13) {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  width: 11vw;
  left: 51.5%;
  top: 50.8%;
  transform: rotate(-10deg);
}

.cat span:nth-child(14) {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  width: 10vw;
  left: 51.5%;
  top: 54.5%;
}

.cat span:nth-child(15) {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  width: 11vw;
  left: 51.5%;
  top: 58%;
  transform: rotate(10deg);
}

.cat span:nth-child(16) {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  width: 11vw;
  left: 26.5%;
  top: 50.8%;
  transform: rotate(10deg);
}

.cat span:nth-child(17) {
  background-color: rgb(255, 255, 255);

  border: 2px solid rgb(255, 255, 255);
  width: 10vw;
  left: 28.5%;
  top: 54.5%;
}

.cat span:nth-child(18) {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  width: 11vw;
  left: 26.5%;
  top: 58%;
  transform: rotate(-10deg);
}
