* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: rgb(43, 38, 38);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loading span {
  position: absolute;
  background-color: white;
}

.loading span:nth-child(1) {
  width: 16vw;
  height: 1vh;
}

.loading span:nth-child(2) {
  width: 2vw;
  height: 4vh;
  border-radius: 50%;
  left: -7vw;
  top: -4.5vh;
  animation: bounce 1s linear infinite;
}

.loading span:nth-child(3) {
  width: 2vw;
  height: 4vh;
  border-radius: 50%;
  left: -4vw;
  top: -4.5vh;
  animation: bounce 1s linear -1.7s infinite;
}

.loading span:nth-child(4) {
  width: 2vw;
  height: 4vh;
  border-radius: 50%;
  left: -1vw;
  top: -4.5vh;
  animation: bounce 1s linear -1.9s infinite;
}

.loading span:nth-child(5) {
  width: 2vw;
  height: 4vh;
  border-radius: 50%;
  left: 2vw;
  top: -4.5vh;
  animation: bounce 1s linear -1.4s infinite;
}

.loading span:nth-child(6) {
  width: 2vw;
  height: 4vh;
  border-radius: 50%;
  left: 5vw;
  top: -4.5vh;
  animation: bounce 1s linear -1.1s infinite;
}

@keyframes bounce {
  0% {
    translate: 0px 0vh;
  }
  50% {
    translate: 0px -15vh;
  }
  55% {
    translate: 0px -15vh;
  }
  100% {
    translate: 0px 0vh;
  }
}
