* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(143, 2, 172);
}

.square {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 50px;
}

.square span {
  display: flex;
  gap: 20vh 20vw;
  width: 70px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 15%;
}

.square span:nth-child(1) {
  margin-left: 20%;
  animation-name: slide1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes slide1 {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(120px, 0px);
  }

  50% {
    transform: translate(120px, 120px);
  }

  75% {
    transform: translate(0px, 120px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.square span:nth-child(2) {
  animation-name: slide2;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes slide2 {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(0px, 120px);
  }

  50% {
    transform: translate(-120px, 120px);
  }

  75% {
    transform: translate(-120px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.square span:nth-child(3) {
  margin-left: 20%;
  animation-name: slide3;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;

  animation-iteration-count: infinite;
}

@keyframes slide3 {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(0px, -120px);
  }

  50% {
    transform: translate(120px, -120px);
  }

  75% {
    transform: translate(120px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
