body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: cornflowerblue;
}

.shape {
  width: 400px;
  height: 400px;
  background-color: rgb(8, 111, 190);
  border: 1px solid black;
}

.shape span {
  position: absolute;
}

.shape span:nth-child(1) {
  position: absolute;
  width: 120px;
  height: 200px;
  margin-left: 80px;
  margin-top: 200px;
  background-color: rgb(109, 2, 2);
  border: 1px solid black;
}

.shape span:nth-child(2) {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 90px;
  margin-top: 280px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
}

.shape span:nth-child(3) {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: 260px;
  margin-top: 120px;
  background-color: rgb(240, 219, 219);
  border: 1px solid black;
}

.shape span:nth-child(4) {
  position: absolute;
  width: 100px;
  margin-left: 260px;
  margin-top: 170px;
  border: 1px solid black;
}

.shape span:nth-child(5) {
  position: absolute;
  height: 100px;
  margin-left: 310px;
  margin-top: 120px;
  border: 1px solid black;
}

.shape span:nth-child(6) {
  width: 425px;
  height: 450px;
  margin-top: -440px;
  margin-left: -13px;
  background-color: rgb(109, 2, 2);
  clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
}

.shape span:nth-child(7) {
  position: absolute;
  width: 50px;
  height: 100px;
  margin-left: 300px;
  margin-top: -150px;
  background-color: rgb(109, 2, 2);
}

.shape span:nth-child(8) {
  position: absolute;
  width: 100;
  height: 250px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(119, 3, 3);
}

.shape span:nth-child(9) {
  position: absolute;
  width: 100;
  height: 50px;
  bottom: 200px;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  background-color: rgb(3, 148, 27);
}
