body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgb(122, 164, 243);
}

.mountain span {
  position: absolute;
}

.mountain span:nth-child(1) {
  width: 100;
  height: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(119, 3, 3);
}


.mountain span:nth-child(2) {
  width: 900px;
  height: 750px;
  margin-top: -490px;
  margin-left: -200px;
  background: linear-gradient(
    90deg,
    rgb(80, 95, 143) 0% 35%,
    rgb(18, 16, 39) 100%
    );
  clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
}

.mountain span:nth-child(3) {
  width: 900px;
  height: 650px;
  top: 80px;
  left: 100px;
  background: linear-gradient(
    90deg,
    rgb(80, 95, 143) 0% 35%,
    rgb(18, 16, 39) 100%
    );
    clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
}

.mountain span:nth-child(4) {
  width: 296px;
  height: 250px;
  top: 235px;
  right: 558px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0% 35%,
    rgb(205, 205, 218) 100%
    );
    clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
}

.mountain span:nth-child(5) {
  width: 275px;
  height: 200px;
  top: 304px;
  left: 413px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0% 35%,
    rgb(205, 205, 218) 100%
    );
  clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
}

.mountain span:nth-child(6) {
  width: 100;
  height: 50px;
  bottom: 180px;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
}
