* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1vw;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2vw;
  padding: 3vh 2vw;
  color: gray;
  white-space: nowrap;
}

.header span {
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  background-color: gray;
}

.header span:nth-child(4) {
  color: rgb(20, 243, 20);
}

@media (max-width: 450px) {
    
}
