body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100vh;
  background-color: cornflowerblue;
  gap: 50px;
}

.cloud {
  position: relative;
  width: 100px;
  height: 100px;
  left: 800px;
}

.cloud span {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  animation: clouds 3s infinite linear;
  transition: 0.5s;
}

@keyframes clouds {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}
.cloud span:nth-child(1) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: -15px;
}

.cloud span:nth-child(2) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  bottom: 50px;
  left: 25px;
}

.cloud span:nth-child(3) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 65px;
}

.cloud span:nth-child(4) {
  width: 110px;
  height: 100px;
  left: 20px;
  border-radius: 25%;
}

.cloudmiddle {
  position: relative;
  width: 100px;
  height: 100px;
  left: 800px;
  bottom: 40px;
}

.cloudmiddle span {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  animation: clouds 3s infinite linear;
  transition: 0.5s;
}

.cloudmiddle span:nth-child(1) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: -15px;
}

.cloudmiddle span:nth-child(2) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  bottom: 50px;
  left: 25px;
}

.cloudmiddle span:nth-child(3) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 65px;
}

.cloudmiddle span:nth-child(4) {
  width: 110px;
  height: 100px;
  left: 20px;
  border-radius: 25%;
}
