* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.balls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100%;
}

.balls span {
  z-index: 2;
  position: absolute;
}

.balls span:nth-child(1) {
  width: 2vw;
  height: 4vh;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgb(46, 46, 250);
}

.balls span:nth-child(2) {
  width: 2vw;
  height: 4vh;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgb(46, 46, 250);
  left: 80vw;
  animation: route1 5s infinite;
}

@keyframes route1 {
  0% {
    translate: 20vw 0vh;
  }

  25% {
    translate: 0vw 40vh;
  }

  50% {
    translate: -20vw 0vh;
  }

  70% {
    translate: -0vw 40vh;
  }
}
