body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(137, 174, 241);
}

.shape span {
  position: absolute;
}

.shape span:nth-child(1) {
  position: absolute;
  width: 80px;
  height: 250px;
  background-color: rgb(109, 2, 2);
}

.shape span:nth-child(2) {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: -230px;
  margin-left: -110px;
  background-color: rgb(9, 156, 29);
}

.shape span:nth-child(3) {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -150px;
  margin-left: -60px;
  background-color: rgb(253, 18, 18);
}

.shape span:nth-child(4) {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -190px;
  margin-left: 70px;
  background-color: rgb(253, 18, 18);
}

.shape span:nth-child(5) {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: -45px;
  background-color: rgb(253, 18, 18);
}

.shape span:nth-child(6) {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: 55px;
  background-color: rgb(253, 18, 18);
}

.shape span:nth-child(7) {
  position: absolute;
  width: 40px;
  height: 70px;
  border-radius: 50%;
  margin-top: 90px;
  margin-left: 25px;
  background: radial-gradient(
    circle,
    #000000 0%,
    #200404 50%,
    #3f0101 70%,
    #3a0101 100%
  );
}

.shape span:nth-child(8) {
  position: absolute;
  width: 100;
  height: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(119, 3, 3);
}

.shape span:nth-child(9) {
  position: absolute;
  width: 100;
  height: 50px;
  bottom: 180px;
  left: 0;
  right: 0;
  background-color: rgb(3, 148, 27);
}

