* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: rgb(51, 51, 53);
  color: white;
  font-size: 5vw;
}

.calling {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.calling span {
  position: absolute;
}

.calling span:nth-child(1) {
  background-color: rgb(32, 224, 32);
  width: 8vw;
  height: 16vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calling span:nth-child(2) {
  border: 2px solid rgb(32, 224, 32);
  width: 8vw;
  height: 16vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse1 1.5s linear infinite;
}

.calling span:nth-child(3) {
  border: 2px solid rgb(32, 224, 32);
  width: 8vw;
  height: 16vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse2 1.5s linear 0.6s infinite;
}

@keyframes pulse1 {
  0% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 2;
    opacity: 0;
  }
}

@keyframes pulse2 {
  0% {
    scale: 1;
    opacity: 1;
  }

  50% {
    scale: 2;
    opacity: 0;
  }
  100% {
    scale: 2;
    opacity: 0;
  }
}
