* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90vh;
  font-weight: 700;
  font-size: 10vw;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  transition: 1s;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80vw;
  height: 50vh;
}

.all span {
  position: absolute;
}

.text {
  color: rgb(10, 10, 15);
  opacity: 0.3;
  z-index: 2;
}

.test {
  background-color: blue;
  width: 0vw;
  height: 20vh;
  z-index: 1;
  left: 5%;
  animation: translateR 2s infinite linear;
}

@keyframes translateR {
  to {
    width: 75vw;
  }
}

span:hover {
  opacity: 1;
  color: rgb(0, 0, 0);
}
