body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100vh;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.loading {
    width: 500px;
    height: 500px;
    border: 3px solid;
    border-radius: 50%;
    position: absolute;
    border-top-color: transparent;
    animation: loading 2s infinite linear;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}
