body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #393a35;
}

.eyes {
  position: relative;
  top: -50px;
}

.eyes span {
  position: absolute;
}

.eyes span:nth-child(8) {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 40px;
  left: 190px;

  background: radial-gradient(
    circle,
    #fff 0%,
    #fdfcfc 50%,
    #fff 70%,
    #8d8b8b 100%
  );
}
.eyes span:nth-child(7) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 40px;
  left: 185px;
  background-color: black;
}
.eyes span:nth-child(6) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgb(170, 63, 63) 0%,
    rgb(163, 48, 48) 50%,
    rgb(153, 34, 34) 70%,
    rgb(104, 18, 18) 100%
  );
  top: 20px;
  left: 170px;
}
.eyes span:nth-child(5) {
  width: 200px;
  height: 150px;
  border-radius: 50%;
  left: 130px;
  background: radial-gradient(
    circle,
    #fff 0%,
    #fdfcfc 50%,
    #e9e7e7 70%,
    #8d8b8b 100%
  );
}

.eyes span:nth-child(4) {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 40px;
  left: -110px;

  background: radial-gradient(
    circle,
    #fff 0%,
    #fdfcfc 50%,
    #fff 70%,
    #8d8b8b 100%
  );
}
.eyes span:nth-child(3) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 40px;
  left: -115px;
  background-color: black;
}
.eyes span:nth-child(2) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgb(170, 63, 63) 0%,
    rgb(163, 48, 48) 50%,
    rgb(153, 34, 34) 70%,
    rgb(104, 18, 18) 100%
  );
  top: 20px;
  left: -130px;
}
.eyes span:nth-child(1) {
  width: 200px;
  height: 150px;
  border-radius: 50%;
  left: -170px;
  background: radial-gradient(
    circle,
    #fff 0%,
    #fdfcfc 50%,
    #e9e7e7 70%,
    #8d8b8b 100%
  );
}
