body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: white;
  background-color: rgb(11, 11, 43);
}

.pulse span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse span:nth-child(1) {
  width: 150px;
  height: 150px;
  left: 895px;
  border-radius: 50%;
  background-color: rgb(72, 139, 128);
  animation-name: pulse1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

@keyframes pulse1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.pulse span:nth-child(2) {
  width: 150px;
  height: 150px;
  left: 895px;
  border-radius: 50%;
  background-color: rgb(72, 139, 128);
  animation-name: pulse2;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-delay: 2s;
}

@keyframes pulse2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.pulse span:nth-child(3) {
  width: 150px;
  height: 150px;
  left: 895px;
  border-radius: 50%;
  background-color: rgb(72, 139, 128);
}
