body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 120px;
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255) 50%,
    rgb(0, 0, 0) 50%
  );
}

h1 {
  animation: slidein 15s infinite linear;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: -100%;
    width: 100%;
  }
}
