body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-size: 140px;
  overflow: hidden;
}

.box span {
  position: absolute;
}

.box span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  color: rgb(255, 255, 255);
  background-color: rgb(184, 81, 81);
}

.box span:nth-child(2) {
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.text {
  width: 50%;
  margin-top: 330px;
  left: 0;
  animation: word 10s infinite linear;
}

@keyframes word {
  0% {
    transform: translateX(-15%);

    color: rgb(0, 0, 0);
  }

  50% {
    color: rgb(0, 0, 0);
  }

  53% {
    color: rgb(255, 0, 0);
  }

  100% {
    transform: translateX(200%);
    color: rgb(255, 0, 0);
  }
}
