* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  width: auto;
  white-space: nowrap;
  height: 100vh;
  font-weight: 700;
  font-size: 15vw;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  transition: 1s;
}

.redbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: red;
  color: rgb(14, 235, 14);
  width: 50%;
  height: 100%;
  border-right: 2px solid black;
  overflow: hidden;
}

.redbox span {
  position: relative;
  animation: slide1 20s linear infinite;
  left: 160vw;
}

@keyframes slide1 {
  0% {
    left: 160vw;
  }

  100% {
    left: -110vw;
  }
}

.greenbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(14, 235, 14);
  color: red;
  width: 50%;
  height: 100%;
  border-left: 2px solid black;
  overflow: hidden;
}

.greenbox span {
  position: relative;
  animation: slide2 20s linear infinite;
  left: 50vw;
}

@keyframes slide2 {
  0% {
    left: 110vw;
  }
  100% {
    left: -160vw;
  }
}
