body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(138, 102, 102);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
}

.box span {
  position: absolute;
}

.box span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

.box span:nth-child(2) {
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.box span:nth-child(3) {
  width: 50%;
  margin-top: 330px;
}
