* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2vw;
  padding: 1rem 2vw;
  color: gray;
  white-space: nowrap;
}

.header label {
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: gray;
}

.option.green {
  color: rgb(20, 243, 20);
}

@media (max-width: 786px) {
  .divider {
    visibility: hidden;
  }

  .header {
    padding: 0;
    width: auto;
    height: auto;
    display: grid;
    text-align: center;
    grid-template-columns: 100%;
    grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  .header label {
    width: 100%;
    height: 5rem;
    border: 1px solid gray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    align-content: center;
    justify-content: center;
    white-space: pre-wrap;
    flex-wrap: wrap;
  }

  .option {
    display: none;
  }

  .hamburger {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    font-size: 2rem;
    text-align: end;
  }

  .line {
    margin-top: -41vh;
  }

  #button1:checked ~ .option {
    display: block;
  }
}
@media (min-width: 787px) {
  .hamburger {
    cursor: auto;
  }

  .hamburger {
    visibility: hidden;
  }
}

/* Reduzir área clicável do Hamburger */