* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1vw;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2vw;
  padding: 3vh 2vw;
  color: gray;
  white-space: nowrap;
}

.header label {
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  background-color: gray;
}

.header label:nth-child(6) {
  color: rgb(20, 243, 20);
}

@media (max-width: 786px) {
  .header {
    padding: 0;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
    font-size: 5vw;
    justify-content: center;
    align-items: center;
  }

  .header label {
    width: 100%;
    height: 10vh;
    border: 1px solid gray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    align-content: center;
    justify-content: center;
    white-space: pre-wrap;
    flex-wrap: wrap;
  }

  .header label:nth-child(2) {
    align-content: center;
    width: 6vw;
    height: 6vh;
    border-bottom: 0;
    margin-left: 75vw;
  }

  .option {
    /* visibility: hidden; */
  }

  .x {
    font-size: 8vw;
  }

  .line {
    margin-top: -41vh;
  }

  #button1:checked + .option {
    visibility: visible;
  }
}
@media (min-width: 787px) {
  .x {
    cursor: auto;
  }
}

/* Tamanho da tela ta scrollando;
   Botão não funciona;
   Palavras só ficam no meio por espaços no html;
   Linha do Início não é da borda, tá sem responsividade;
   Área de clique do botão.
*/