* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: rgb(247, 247, 182);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.dog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50vw;
  height: 70vh;
}

.dog span {
  position: absolute;
  z-index: 1;
}

.dog span:nth-child(1) {
  width: 18vw;
  height: 35vh;
  border-radius: 15%;
  background: linear-gradient(
    to left,
    rgb(180, 107, 58),
    rgb(167, 90, 39),
    rgb(170, 84, 27)
  );
}

.dog span:nth-child(2) {
  width: 3vw;
  height: 8vh;
  border-radius: 50%;
  left: 39.5%;
  top: 35%;
  background-color: black;
}

.dog span:nth-child(3) {
  width: 3vw;
  height: 8vh;
  border-radius: 50%;
  left: 54.5%;
  top: 35%;
  background-color: black;
}

.dog span:nth-child(4) {
  width: 15vw;
  height: 20vh;
  clip-path: polygon(100% 0%, 50% 0%, 100% 100%);
  left: 40%;
  top: 23%;
  background: linear-gradient(
    to left,
    rgb(73, 14, 4),
    rgb(119, 38, 24),
    rgb(73, 14, 4)
  );
}

.dog span:nth-child(5) {
  width: 15vw;
  height: 20vh;
  clip-path: polygon(100% 0%, 50% 0%, 100% 100%);
  transform: rotateY(180deg);
  left: 30%;
  top: 23%;
  background: linear-gradient(
    to left,
    rgb(73, 14, 4),
    rgb(119, 38, 24),
    rgb(73, 14, 4)
  );
}

.dog span:nth-child(6) {
  width: 5vw;
  height: 10vh;
  clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
  transform: rotate(-90deg);
  left: 45%;
  top: 52%;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}

.dog span:nth-child(6) {
  z-index: 2;

  width: 5vw;
  height: 10vh;
  border-radius: 50%;
  clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
  transform: rotate(-90deg);
  left: 45%;
  top: 53%;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}

.dog span:nth-child(7) {
  z-index: 1;
  width: 10vw;
  height: 16vh;
  border-radius: 50%;
  left: 40%;
  top: 52%;
  background: linear-gradient(
    to left,
    rgb(252, 146, 86),
    rgb(245, 146, 89),
    rgb(224, 119, 58)
  );
}

.dog span:nth-child(8) {
  z-index: 1;
  width: 0vw;
  height: 2vh;
  font-size: 4vw;
  left: 51.2%;
  top: 58%;
  background-color: black;
  rotate: 45deg;
}

.dog span:nth-child(9) {
  z-index: 1;
  width: 0vw;
  height: 2vh;
  font-size: 4vw;
  left: 47%;
  top: 60.3%;
  background-color: black;
  rotate: -45deg;
}

.dog span:nth-child(10) {
  z-index: 1;
  width: 0vw;
  height: 2vh;
  font-size: 4vw;
  left: 47%;
  top: 60.3%;
  background-color: black;
  rotate: -45deg;
}
