* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: auto;
  height: 100vh;
  background-color: rgb(5, 19, 46);
}

span {
  width: 2vw;
  height: 4vh;
  background-color: yellow;
  box-shadow: 0px 0px 20px yellow;
}

.building1 {
  display: grid;
  grid-template-columns: 2vw 2vw;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 10vw;
  height: 80vh;
  background-color: gray;
}

.building1 span:nth-child(1) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building1 span:nth-child(6) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}

.building2 {
  display: grid;
  grid-template-columns: 2vw 2vw;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 10vw;
  height: 60vh;
  background-color: gray;
}

.building2 span:nth-child(1) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;

  width: 5vw;
}
.building2 span:nth-child(2) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}

.building3 {
  display: grid;
  grid-template-columns: 2vw 2vw;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 10vw;
  height: 70vh;
  background-color: gray;
}

.building3 span:nth-child(2) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building3 span:nth-child(4) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building3 span:nth-child(5) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building3 span:nth-child(6) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building3 span:nth-child(7) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}

.building4 {
  display: grid;
  grid-template-columns: 2vw 2vw;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 10vw;
  height: 40vh;
  background-color: gray;
}

.building5 {
  display: grid;
  grid-template-columns: 2vw 2vw;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 10vw;
  height: 80vh;
  background-color: gray;
}

.building5 span:nth-child(1) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building5 span:nth-child(3) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building5 span:nth-child(6) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building5 span:nth-child(8) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building5 span:nth-child(9) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building5 span:nth-child(11) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}

.building6 {
  display: grid;
  grid-template-columns: 2vw 2vw;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 10vw;
  height: 50vh;
  background-color: gray;
}

.building6 span {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}

.building7 {
  display: grid;
  grid-template-columns: 2vw 2vw 2vw;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 15vw;
  height: 90vh;
  background-color: gray;
}

.building7 span:nth-child(1) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building7 span:nth-child(5) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building7 span:nth-child(7) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building7 span:nth-child(8) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building7 span:nth-child(9) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}
.building7 span:nth-child(13) {
  background-color: rgb(44, 43, 43);
  box-shadow: none;
}

.building8 {
  display: grid;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 8vw;
  height: 60vh;
  background-color: gray;
}

.building8 span {
  width: 5vw;
}
